@* to make a component into a routable component we
   need to use the @page directive and a route template
   which specifies the route it will be responsible for. 
*@
@page "/"
@* Under the page directive add the following code which
   will give us an instance of the HttpClient to work with 
   ---------------------------------------------------------
   The inject directive is a really nice feature 
   allowing us to quickly and easily inject instances
   of objects registered with the service container in
   Program.Main, into our components, but the directive
   is just some syntactic sugar saving us a chunk of typing.
*@
@inject HttpClient Http

@if (_trails == null) {
    <p>Loading trails...[OBJECT MIGHT BE NULL]</p>
} else {
    //∆..........
    <div class="row row-cols-1 row-cols-md-2">
        @* ∆•••••••••••••• *@
        @foreach (var trail in _trails) {
            //∆..........
            <div class="col mb-4">
                <TrailCard Trail="trail" />
            </div>
        }
    </div>
}
@* ............................ [ CODE ] ............................*@

@code {

    ///∆: - ©-PROPERTIES
    //∆..............................
        private IEnumerable<Trail> _trails;

    //∆..............................

    /** <Get-Data>:
    ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
    <Request>:
        • In order to retrieve the data from the JSON file we
        • can make a GET request just like we would if we were
        • reaching out to an API. Except, instead of passing 
        • the address of the API in the call, we pass the 
        • relative location of the JSON file.
    ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
    */
    protected override async Task OnInitializedAsync() {
    //∆..........
        try {
            _trails = await Http
                .GetFromJsonAsync<IEnumerable<Trail>>
                ("trails/trail_data.json");
    //∆..........
        } catch(HttpRequestException e) {
            Console.WriteLine("There was a problem loading" +
                $" trail data: {e.Message}");
        }
    } // ∆ END ONINITIALIZEDASYNC
    
    //∆ ______________________________________________________
    // ∆ END CODE
}