@* Bootstrap navbar displaying the text Blazing Trails. *@
<nav class="navbar navbar-light bg-light border-bottom mb-4">
    @* ∆•••••••••••••• *@
    <span class="navbar-brand mb-0 h1">Blazing Trails</span>
</nav>